<launch>
    <param name="robot_description" command="xacro $(find mobil)/urdf/mobile_robot.urdf.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mobil)/world/swiat.world"/>
        <arg name="gui" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="paused" value="false"/>
    </include>

    <node name="spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model mobile_robot -z 10"/>
</launch>