<launch>

 

  <!-- Robot namespace -->
  <arg name="robot" default="ursim"/>

 

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

 

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find move_it)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

 

  <!-- If needed, broadcast static tf for robot root -->

 

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    <remap from="/joint_states" to="/$(arg robot)/joint_states"/>
  </node>

 

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find move_it)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="robot" value="$(arg robot)"/>
  </include>

 

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find move_it)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

 

</launch>